<!-- <div
   style="background-image: url('https://image.freepik.com/free-vector/abstract-realistic-technology-particle-background-design_23-2148433469.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;"> -->
<div class="jumbotron"
  style="background-image: url('https://image.freepik.com/free-vector/abstract-geometric-shape-connection-with-3d-cubes-background_42705-105.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">




  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4"><br><br><br>
        <svg class="bd-placeholder-img rounded-circle" width="160" height="160" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
          aria-label="Placeholder: 140x140" style="margin-left: 100px;">
          <title>Placeholder</title>
          <image href="https://www.magneticmag.com/.image/t_share/MTY1MTczMzk2MzUzNTkwNTg0/spotify_icon_cmyk_green.png"
            width="160" height="160" />
        </svg>
        <h2>Spotify Web API</h2>
        <p>Know Song uses Spotify's public facing data retrieval system.  User data is protected through OAuth2, a security protocol
          that ensures unaffiliated developer applications only have access to non sensitive information.
          <br> <br>
          <a href="https://developer.spotify.com/discover/">Learn More About Spotify Web API</a>
        </p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4"><br><br><br>
        <svg class="bd-placeholder-img rounded-circle" width="160" height="160" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
          style="margin-left: 100px;">
          <title>Know Song</title>
          <image href="https://i.imgur.com/Tkt2hZX.png" width="150" height="150" />
        </svg>
        <h2>Know Song</h2>
        <p> Do you know music? As a Know Song user, you have access to the entire spotify music library!
          Challenge yourself and try out some of our dynamically generated trivia games based on your favorite music artists!
        </p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4"><br><br><br>
        <svg class="bd-placeholder-img rounded-circle" width="160" height="160" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
          aria-label="Placeholder: 140x140" style="margin-left: 100px;">
          <title>Know Song</title>
          <image
            href="https://pbs.twimg.com/profile_images/720847195860127744/K4Ld3JCd_400x400.jpg"
            width="160" height="160" />
        </svg>
        <h2>Humble Beginnings</h2>
        <p>Know Song began as a final project for Skill Distillery's 16 week coding bootcamp in Denver, Colorado. Feel free to get in touch with
          the three developers <a href="https://www.linkedin.com/in/joshua-hollopeter/">Josh Hollopeter</a>, <a>George Moore</a>, and <a href="https://www.linkedin.com/in/neal-savant-090159187/">Neal Savant</a>.
        </p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h1 class="featurette-heading"><span class="text-black">Featured Game Modes:</span></h1>
          <h2 class="featurette-heading">Name Dat CLIP ! !  </h2>
        <p class="lead">Listen to a song clip, then guess the name of the song!<br> Very simple, very fun.</p>
        <br>

        <h2 class="featurette-heading">Lyric Matcher ! ! </h2>
        <h2 class="featurette-heading">Sign Up! <span class="text-black">It’ll blow your mind.</span>
        </h2>

      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
          role="img" aria-label="Placeholder: 500x500">
          <title>Placeholder</title>
          <!-- <rect width="100%" height="100%" fill="#eee" data-darkreader-inline-fill=""
            style="--darkreader-inline-fill:#343738;"></rect> -->
            <image href="https://image.shutterstock.com/image-photo/happy-young-friends-filming-video-600w-1562285329.jpg" ></image>
            <!-- <text x="50%" y="50%" fill="#aaa" dy=".3em"
            data-darkreader-inline-fill="" style="--darkreader-inline-fill:#e9e3d7;">500x500</text> -->
        </svg>
      </div>
    </div>



    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">

        <h2 class="featurette-heading">Sign Up! <span class="text-black">It’ll blow your mind.</span>
        </h2>
        <p class="lead">
          Use a <b>free</b> or <b>premium</b> Spotify account to signup and start playing Know Song music trivia!
        </p>
        <br>
        <p class="lead">The spotify trivia game where you can choose an artist
          and Know Song will use smart data algorithms to generate a trivia match to test your knowledge!
        </p>
        <br>
        <p class="lead">
          Browse Spotify's artist library through our platform using your own account! Super cool right?
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
          role="img" aria-label="Placeholder: 500x500">
          <title>Placeholder</title>
            <image href="https://i.imgur.com/eJRpSZL.png" width="100%" height="100%"></image>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-black">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
          semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
          commodo.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
          role="img" aria-label="Placeholder: 500x500">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" data-darkreader-inline-fill=""
            style="--darkreader-inline-fill:#343738;"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"
            data-darkreader-inline-fill="" style="--darkreader-inline-fill:#e9e3d7;">500x500</text>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>Est. 2020 Know Song · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>
</div>
