<!-- <div
   style="background-image: url('https://image.freepik.com/free-vector/abstract-realistic-technology-particle-background-design_23-2148433469.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;"> -->
<div class="jumbotron"
  style="background-image: url('https://image.freepik.com/free-vector/abstract-geometric-shape-connection-with-3d-cubes-background_42705-105.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">




  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4"><br><br><br>
        <svg class="bd-placeholder-img rounded-circle" width="160" height="160" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
          aria-label="Placeholder: 140x140" style="margin-left: 100px;">
          <title>Placeholder</title>
          <image href="https://www.magneticmag.com/.image/t_share/MTY1MTczMzk2MzUzNTkwNTg0/spotify_icon_cmyk_green.png"
            width="160" height="160" />
        </svg>
        <h2>Spotify</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
          vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus
          magna.</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4"><br><br><br>
        <svg class="bd-placeholder-img rounded-circle" width="160" height="160" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
          style="margin-left: 100px;">
          <title>Know Song</title>
          <image href="https://i.imgur.com/Tkt2hZX.png" width="150" height="150" />
        </svg>
        <h2>Know Song</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
          consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
        </p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4"><br><br><br>
        <svg class="bd-placeholder-img rounded-circle" width="160" height="160" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
          aria-label="Placeholder: 140x140" style="margin-left: 100px;">
          <title>Know Song</title>
          <image
            href="https://static.billboard.com/files/styles/900_wide/public/media/The-Beatles-Abbey-Road-album-covers-billboard-1000x1000.jpg"
            width="160" height="160" />
        </svg>
        <h2>Spotify Albums and Playlists</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
          felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
          massa justo sit amet risus.</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-black">It’ll blow your mind.</span>
        </h2>
        <p>The spotify trivia game where you can choose a playlist or artist
          and we will generate a trivia match for you and your friends to enjoy!
        </p>
        <p>
          To host a match, you need to have a premium spotify account.
          To use the website, you need to create a free spotify account!
        </p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
          role="img" aria-label="Placeholder: 500x500">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" data-darkreader-inline-fill=""
            style="--darkreader-inline-fill:#343738;"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"
            data-darkreader-inline-fill="" style="--darkreader-inline-fill:#e9e3d7;">500x500</text>
        </svg>
      </div>
    </div>



    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-black">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
          semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
          commodo.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
          role="img" aria-label="Placeholder: 500x500">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" data-darkreader-inline-fill=""
            style="--darkreader-inline-fill:#343738;"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"
            data-darkreader-inline-fill="" style="--darkreader-inline-fill:#e9e3d7;">500x500</text>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-black">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
          semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
          commodo.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
          role="img" aria-label="Placeholder: 500x500">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" data-darkreader-inline-fill=""
            style="--darkreader-inline-fill:#343738;"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"
            data-darkreader-inline-fill="" style="--darkreader-inline-fill:#e9e3d7;">500x500</text>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>Est. 2020 Know Song · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>
</div>
