<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>

<!-- Called of font style  file -->

<div *ngIf="!roundOver && quizlist.length > 0">

  <div class="jumbotron"
    style="background-image: url('https://image.freepik.com/free-vector/abstract-geometric-shape-connection-with-3d-cubes-background_42705-105.jpg'); background-repeat: no-repeat; background-attachment: fixed; height: 100vh; padding-top: 75px; background-size: cover;">
    <h1 *ngIf="!selectedvalue"> Choose Your Game Type!</h1>
    <div class="contain-grid">
      <div class="grid-container" *ngIf="!selectedvalue">
        <div class="nameClip" *ngIf="categories[0] == 'Name That Clip'">
          <button mat-stroked-button (click)="selectedvalue='Name That Clip';gettingCategory()">Name That Clip</button>
        </div>
        <div class="knowLyrics">
          <button mat-stroked-button (click)="selectedvalue='Lyric Match';gettingCategory()">Know Those Lyrics</button>
        </div>
        <div class="guessYear">
          <button mat-stroked-button (click)="selectedvalue='Release Year';gettingCategory()">Guess That Year</button>
        </div>
      </div>
    </div>
    <!-- <div *ngIf="!selectedvalue" class="form-group">
      <label for="input3" class="col-sm-4 control-label">Select Category:</label>
      <div class="col-sm-6">

        <select [(ngModel)]="selectedvalue" (change)="gettingCategory()">
          <option *ngFor="let g of categories" [value]="g">{{g}}</option>
        </select>
      </div>
    </div> -->
    <div class="bg-success boxed">
      <div class="jumbotron"
        style="background-image: url('https://image.freepik.com/free-vector/abstract-geometric-shape-connection-with-3d-cubes-background_42705-105.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">
        <ul>
          <h1 *ngIf="selectedvalue">Question: {{answerkey.length+1}}</h1>
          <h2 *ngIf="!playdatclip">
            {{question}}
          </h2>

          <div class="row-fluid">
            <div class="span12 text-center">
              <ng-container *ngIf="playdatclip">

                <h2>Guess the Track!</h2>
                <div class="container-audio">
                  <audio id="my-audio" controls loop autoplay>
                    <source src={{getQuestion()}} type="audio/mpeg">
                    Your browser dose not Support the audio Tag
                  </audio>
                </div>
                <div class="container-audio">
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                  <div class="colum1">
                    <div class="row"></div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>

        </ul>

        <div class="row-fluid">
          <div class="span12 text-center" *ngFor="let opt of option">
            <!-- <form #registerForm="ngForm" (submit)="check(registerForm)"> -->
            <button type="button" (click)="selected = opt" class="btn btn-success btn-lg btn-block">{{opt}}</button>
            <!-- <button mat-fab name="opt" (click)="selected = opt" class="text-center"> {{opt}}</button> -->
            <span class="class='col-xs-3'" style="padding: 0.5in;"></span>
            <br *ngIf="playdatclip">

          </div>
        </div>
        <br>
        <br>
        <!-- <button (click)="previous()"*ngIf="i>0" >previous</button> -->

        <button class="btn btn-success btn-lg" (click)="check();next()" *ngIf="i<quizlength">next</button>

      </div>
      <p *ngIf="selectedvalue">
        <button class="btn btn-info" (click)="submit()">submit</button>
      </p>
    </div>

    <!-- end of main container -->
  </div>

</div>
<!-- round over break -->

<div *ngIf="roundOver">
  <p> Your score is => {{marks}}</p>
  <a routerLink="/home"><button class="btn btn-success float-right"> Home </button></a>
</div>
